*{
  margin: 2%;
  padding: 0;
   font-family: "Press Start 2P", system-ui;
   font-style: normal;
   font-size: 1rem;

}

body{
  background-color: rgb(239, 252, 252);
  text-align: center;
}
label{
  padding: 0.5em;
}

p{
  margin-top: 5%;
  
}
button{
  margin-top: 4%;
  padding: 0.5em;
  background-color: rgba(173, 216, 230, 0.863);
}
#height{
  background-color: rgba(173, 216, 230, 0.863);
  padding: 0.5em;
}
#weight{
  background-color: rgba(173, 216, 230, 0.863);
  padding: 0.5em;
}